<html><head>
<title>Done</title>
<link rel="stylesheet" type="text/css" href="{{staticPath}}/evaluateCSS/styles.css">
<!--<link href="{{staticPath}}/css/bootstrap.css" rel="stylesheet" />-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="http://libs.baidu.com/fontawesome/4.0.3/css/font-awesome.min.css">

<style>
.hiden{
	display:none;
}
.back{
	z-index:1;
	background:grey;
}
.backColor{
  /*background:#999999;*/
  background:grey;
  position: fixed;
  width:100%;
  height:100%;
	z-index:1;
}
.notloginGuide{
  margin-top:200px;
}
</style>
</head>
<div class="backColor hiden"  id="backColor">

</div>
<body id="content">


<div >
<div class="container" >
	<div class="hero">
		<h1 class="name"><strong>Misleading UI Widgets Evaluation</strong></h1><strong>
			<!--<span class="job-title" id="login">Login</span>-->
		<span class="email"><i class="fa fa-envelope "></i>&nbsp;  twilight_wang@163.com</span>

		<h2 class="backlead" >Submit Successfully! Thank you for helping us !!<span class="back-job-title" id="back" >Back to Homepage</span></h2>
	</strong></div><strong>
</strong></div><strong>

<!-- Skills and intrest section 
<div class="container ">

	<div class="sections">
		<h2 class="section-title">Skills</h2>

		<div class="list-card">
			<span class="exp">+ 5 years</span>
			<div>
				<h3>Object programming &amp; frameworks</h3>
				<span>PHP, Symfony, Laravel, Silex, …</span>
			</div>
		</div>
		
		<div class="list-card">
			<span class="exp">+ 3 years</span>
			<div>
				<h3>Design integration</h3>
				<span>Style and tools, JS Frameworks</span>
			</div>
		</div>	
				
		<div class="list-card">
			<span class="exp">+ 6 years</span>
			<div>
				<h3>Linux</h3>
				<span>Scripting, Servers management and protocols, Automation</span>
			</div>
		</div>


	</div>
	<div class="sections">
			<h2 class="section-title">Interests</h2>
			
			<div class="list-card">
				<div>
					<h3>Scripting languages</h3>
					<span>PHP, JS, Bash, Python</span>
				</div>
			</div>	

			<div class="list-card">
				<div>
					<h3>Hacking</h3>
					<span>Linux, Crawlers, Bots, Network</span>
				</div>
			</div>		
	</div>
</div>-->
<!-- Achievements -->

<div class="container cards hiden" style="margin-top:-50px;" id="jobs">
	
	<div class="progresscard box1" id="box1">
		<div class="skill-level">
			<h2>60</h2>
			<span>%</span>
		</div>

		<div class="skill-meta">
			<h3>Job 1</h3>
			<span>Adapting and creating solutions for customer's needs</span>
		</div>
	</div>

		
	<div class="progresscard box2">
		<div class="skill-level">
			<h2>50</h2>
			<span>%</span>
		</div>

		<div class="skill-meta">
			<h3>Job 2</h3>
			<span>Applications development integrating third-party services and mobile client(s)</span>
		</div>
	</div>

		
	<div class="progresscard box3">
		<div class="skill-level">
			<h2>30</h2>
			<span>%</span>
		</div>

		<div class="skill-meta">
			<h3>Job 3</h3>
			<span>Such as web services, scripts, configurations</span>
		</div>
	</div>


	<div class="progresscard box4">
		<div class="skill-level">
			<h2>100</h2>
			<span>%</span>
		</div>

		<div class="skill-meta">
			<h3>Job 4</h3>
			<span>Web projects and ensure the quality of delivery</span>
		</div>
	</div>

</div>

<!-- Timeeline 

-->
<div class="container notloginGuide" id="guide">
	<ol class="timeline">
	  <li>
		<p class="line">Prepare</p>
		<span class="point"></span>
		<p class="description">
		   Get Username and Password
		</p>
		<span class="date">Today - Oct. 2020</span>
	  </li>

	  <li>
		<p class="line">Evaluation</p>
		<span class="point"></span>
		<p class="description">
		  Evaluation Round 1
		</p>
		<span class="date">Sept. 2020 - Oct. 2020</span>
	  </li>

			  <li>
		<span class="point"></span>
		<p class="description">
		  Evaluation Round 2
		</p>
		<span class="date">Oct.2020 - Nov. 2020</span>
	  </li>

			  <li>
		<p class="line">End</p>
		<span class="point"></span>
		<p class="description">
		  Evaluation Done
		</p>
		<span class="date">Nov. 2020</span>
	  </li>
	</ol>

</div>
<br><br>
</div>
<!--
<footer class="container">
	<span style="font-size: 16px; margin-top: ">Copyright © 2020.Company name All rights reserved.</span>
</footer>
-->

</strong>

        <div class="card hiden" id="loginBox" style="z-index:9999;">
            <div class="card-body ">
		    <h2 class="loginText" style="text-align:center;font-size:30px;margin-bottom:40px;">Login Box</h2>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control loginInput" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control loginInput" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control loginInput" id="password" placeholder="Password">
                    </div>
		   <span class="loginButton" id="loginSubmit" style="padding:8px;">Login</span>
		   <span class="loginButton" id="loginCancel" style="float:right;margin-top:0px;padding:4px;">Cancel</span>
                </form>
            </div>
        </div>

</body>
<script type="text/javascript" src="{{staticPath}}/js/jquery-1.10.2.js"></script>
<script type="text/javascript">
    console.log('reday')
    $(document).ready(function () {
            $('#login').bind('click',function(){
                    console.log('input!')
		    $('#loginBox').removeClass('hiden')
		    $('#backColor').removeClass('hiden')
		    $('#content').addClass('back')
            })
            $('#loginSubmit').bind('click',function(){
                    console.log('input submit!')
		    // 登录名子
	 	    $('#login').html($('#name').val())
	 	    // 显示jobs栏
		    $('#jobs').removeClass('hiden')
		    $('#guide').removeClass('notloginGuide')
		    // loginbox本身的变化
		    $('#loginBox').addClass('hiden')
		    $('#content').removeClass('back')
		    $('#backColor').addClass('hiden')
            })
            $('#loginCancel').bind('click',function(){
                    console.log('input cancel!')
		    $('#loginBox').addClass('hiden')
		    $('#content').removeClass('back')
		    $('#backColor').addClass('hiden')
            })
            $('#back').bind('click',function(){
		   window.location.href="/Console/evaluateHome"
            })

    });
</script>

</html>
